<div id="game-of-life-header">
    <game-title message="vm.levelMessage"></game-title>

    <next-level-button next-level="vm.nextLevel" is-game-over="vm.isGameOver" ></next-level-button>

    <reset-button reset="vm.init"></reset-button>
    <level-animation animate="vm.runAnimation"
                     get-animation-text="vm.getAnimateButtonText"
                     animation-delay="vm.game.animateDelay">

    </level-animation>

    <random-level current-level="vm.game.level"
                  birth-chance="vm.game.randomBirthChance"
                  randomise-level="vm.randomiseLevel"></random-level>
</div>
<hr/>
<game-of-life-view grid="vm.game.grid"></game-of-life-view>
