<game-of-life-menu current-menu="vm.currentMenu">

</game-of-life-menu>

<div class="container-fluid">

    <div ng-show="vm.currentMenu === 'size'">
        <label>Grid Size:</label>
        <input ng-model="vm.cellsWidth"/>
        <input ng-model="vm.cellsHeight"/>
        <reset-button reset="vm.init"></reset-button>
    </div>

    <div ng-show="vm.currentMenu === 'setup'">
        <random-level birth-chance="vm.game.randomBirthChance"
                      randomise-level="vm.randomiseLevel"></random-level>
        <level-animation animate="vm.runAnimation"
                         get-animation-text="vm.getAnimateButtonText"
                         animation-delay="vm.game.animateDelay">
        </level-animation>
    </div>

    <div ng-show="vm.currentMenu === 'game'">
        <button class="btn btn-sm"
                ng-class="{'btn-success': !vm.game.animate, 'btn-danger': vm.game.animate}"
                ng-click="vm.runAnimation()">{{vm.getAnimateButtonText()}}</button>
    </div>
</div>


<game-of-life-view grid="vm.game.grid"></game-of-life-view>